
.dcard{
    background-color:  #f6E8b1;
    overflow: hidden;
    border-radius:10% 30% 0% 0% ;
}
.card-img-top{
    height: 250px;
}
.detailContainer{
    margin:-50px;
    transition: all 0.4s;
}
.dcard:hover{
    .detailContainer{
        margin:10px;
    }
}
.card-img-top{
    border-radius: 10% 30% 50% 70%;
    border-bottom:5px solid black;
}

.leftDetail{
    width:40%;

}
.rightDetail{
    width:50%;
    
}
@media(max-width:1054px){
    .leftDetail{
        width:50%;
    }
    @media(max-width:768px){
        .leftDetail{
            width:100%;
        }
    }
    .rightDetail{
        width:100%;
        
    }
}