*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
}

body{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#fffdd2;
}

.wrapper{
    color: #9d926a !important;
    width:424px;
    height:600px;
    background:white;
    position:relative;
    padding:30px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* x-offset y-offset blur-radius color */

}

.border-design{
    display:flex;
    width:100%;
    justify-content:flex-end;
}

.border-design .c1,
.border-design .c2,
.border-design .c3,
.border-design .c4,
.border-design .c5{
    width:30px;
    height:10px;
}

.c1, .c5{
    background:#ec8e1d;
}

.c2{
    background:#27aae2;
}
.c3{
    background:#fef200;
}
.c4{
    background:#d25a29;
}
.invoice-header{
    display:grid;
    grid-template-columns:repeat(2,1fr);
}
.logo{
    text-transform:uppercase;
    font-size:16px;
    font-weight:700;
    letter-spacing:-1px;
}

.logo span{
    font-weight:400;
}
.title{
    text-transform:uppercase;
    font-size:25px;
    font-weight:600;
    text-align:right;
}
.inv-number, .inv-date{
    display:flex;
    justify-content:space-between;
}
.inv-number{
    padding:10px 45px 0 0;
}
.inv-date{
    padding:10px 0 0 45px;
}
.inv-number h3, .inv-date h3{
    font-weight:700;
    font-size:12px;
}
.inv-number h4, .inv-date h4{
    font-size:12px;
    font-weight:500;
}

.billing-detail{
    margin-top:15px;
}
.billing-detail p:nth-child(1),
.billing-detail p:nth-child(2){
    text-transform:uppercase;
}

.billing-detail p:nth-child(1){
    font-size:10px;
}

.billing-detail p:nth-child(2)
{
    font-size:12px;
    font-weight:700;
    width:150px;
    border-bottom:1px solid #000;
    margin-bottom:5px;
}

.billing-detail p:nth-child(3),
.billing-detail p:nth-child(4),
.billing-detail p:nth-child(5){
    font-size:10px;
}

.billing-detail p span{
    font-weight:600;
}
.table{
    border-collapse:collapse;
    font-size:12px;
    width:100%;
    margin-top:20px;
}

table thead tr td{
    text-align:center;
    font-weight:600;
    padding:8px 5px;
}

table tbody td{
    padding:7px 5px;
    text-align:center;
}

.l-col{
    text-align:left;
}
.r-col{
    text-align:right;
}
table tbody tr:nth-child(odd){
    background:#f0f0f0;
}

table tbody tr:nth-child(even){
    background:#fcfcfc;
    border-bottom:1px solid #b4b4b4;
    border-top:1px solid #b4b4b4;
}
.total-section{
    position:absolute;
    right:40px;
    font-size:12px;
    width:160px;
    margin-top:5px;
    padding-right:5px;
}

.sub, .tax, .total{
    display:flex;
    justify-content:space-between;
    margin-top:5px;
}

.total{
    border-top:1px solid #646464;
    padding-top:5px;
}
.sub p:nth-child(1),
.tax p:nth-child(1),
.total p{
    font-weight:600;
}

.payment-terms{
    position:absolute;
    bottom:0;
    width:45%;
}
img{
    height:120px;
    width:100px;
    
}
.payment-detail{
    margin-bottom:8px;
}

.payment-detail p:nth-child(1)
{
    font-size:12px;
    font-weight:700;
    width:150px;
}

.payment-detail p:nth-child(2),
.payment-detail p:nth-child(3),

.payment-detail p:nth-child(4)
{
    font-size:10px;
}

